.App {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}

.title {
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  font-weight: bold;
}

.add-book {
  font-family:'Times New Roman', Times, serif;
  font-size: 15px;
  padding: 5px;
  width: 100px;
  border-radius: 25px;
  cursor: pointer;
  background-color: #e1d7d5;
  border: 3px solid black;
}
