.books {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    font-weight: bold;
}
.book-button {
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
    cursor:pointer;
    width: 25px;
    height: 100px;
    border: 1px solid black;
    border-radius: 5px;
    writing-mode: vertical-rl;
    background-color: #dbc9b8;
}