
.bookshelf1 {
    border-top: 10px solid black;
    border-left: 10px solid black;
    border-right: 10px solid black;
    border-bottom: 5px solid black;
    margin: auto;
    width: 500px;
    height: 150px;
    background-color: white;
    margin-top: 10px;

    display: flex;
    justify-content: left;
    align-items: end;
  }

  .bookshelf2 {
    border-top: 0px;
    border-left: 10px solid black;
    border-right: 10px solid black;
    border-bottom: 5px solid black;
    margin: auto;
    width: 500px;
    height: 150px;
    background-color: white;

    display: flex;
    justify-content: left;
    align-items: end;
    
  }
  .bookshelf3 {
    border-top: 0px;
    border-left: 10px solid black;
    border-right: 10px solid black;
    border-bottom: 5px solid black;
    margin: auto;
    width: 500px;
    height: 150px;
    background-color: white;
    display: flex;
    justify-content: left;
    align-items: end;
  }
  .bookshelf4 {
    border-top: 0px;
    border-left: 10px solid black;
    border-right: 10px solid black;
    border-bottom: 10px solid black;
    margin: auto;
    width: 500px;
    height: 150px;
    background-color: white;
    display: flex;
    justify-content: left;
    align-items: end;
  }